{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/styles/course.css' %}">
{% endblock css %}

{% block tittle %}Add Event{% endblock tittle %}

{% block content %}
<div class="courses xlSize">
    <div class="header"><h1>Add Member</h1></div>
    <form action="" method="post" >
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name </label>
            <span>Event : {{event.name}}</span>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="eventNameHelp">
            <input type="hidden" name="eventId" value="{{event.id}}">
            <small id="eventNameHelp" class="form-text text-muted">Tell us your new Member</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
    
{% endblock content %}