<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    {% block css %}

    {% endblock css %}
    <link rel="stylesheet" href="{% static 'main/styles/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'main/img/logo.png'%}">
    <title>{% block tittle %}{% endblock tittle %}</title>
</head>
<body>
        <!-- navbar section -->
        <div class="navbarku {% if color == 'red' %} red {% elif color == 'yellow'%} yellow {% endif %}" id="navbar">
            <div class="logo"><a href="" {% if color == 'red' or color == 'yellow' %} class="text-white" {% endif %}>Hello.</a></div>
            <div class="mobile-menu-button" id="mobile-menu-button" onclick="tooglebtn1()">
                <span {% if color == 'red' or color == 'yellow' %} class="white" {% endif%}></span>
                <span {% if color == 'red' or color == 'yellow' %} class="white" {% endif %}></span>
                <span {% if color == 'red' or color == 'yellow' %} class="white" {% endif%}></span>
            </div>
            <div class="selection">
                {% if color == 'none' %}
                <ul>
                    <li><a href="{% url 'polls:index' %}" class="nav-select">Home</a><span class="active"></span></li>
                    <li onmouseover="lineover(0)" onmouseout="lineout(0)"><a href="#about" class="nav-select">About</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(1)" onmouseout="lineout(1)"><a href="#project" class="nav-select">Project</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(2)" onmouseout="lineout(2)"><a href="{% url 'matakuliah:index' %}" class="nav-select">Course</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(3)" onmouseout="lineout(3)"><a href="#contact" class="nav-select">Contact</a><span class="nav-line"></span></li>
                </ul>
                {% elif color == 'red' %}
                <ul>
                    <li onmouseover="lineover(0)" onmouseout="lineout(0)"><a href="{% url 'polls:index' %}" class="nav-select text-white">Home</a><span class="nav-line white"></span></li>
                    <li><a href="" class="nav-select text-white">About</a><span class="active white"></span></li>
                    <li onmouseover="lineover(1)" onmouseout="lineout(1)"><a href="{% url 'polls:yellowSoon' %}" class="nav-select text-white">Project</a><span class="nav-line white"></span></li>
                    <li onmouseover="lineover(2)" onmouseout="lineout(2)"><a href="{% url 'matakuliah:index' %}" class="nav-select text-white">Course</a><span class="nav-line white"></span></li>
                    <li onmouseover="lineover(3)" onmouseout="lineout(3)"><a href="#contact" class="nav-select text-white">Contact</a><span class="nav-line white"></span></li>
                </ul>
                {% elif color == 'yellow'%}
                <ul>
                    <li onmouseover="lineover(0)" onmouseout="lineout(0)"><a href="{% url 'polls:index' %}" class="nav-select text-white">Home</a><span class="nav-line white"></span></li>
                    <li onmouseover="lineover(1)" onmouseout="lineout(1)"><a href="{% url 'polls:redSoon' %}" class="nav-select text-white">About</a><span class="nav-line white"></span></li>
                    <li><a href="" class="nav-select text-white">Project</a><span class="active white"></span></li>
                    <li onmouseover="lineover(2)" onmouseout="lineout(2)"><a href="{% url 'matakuliah:index' %}" class="nav-select text-white">Course</a><span class="nav-line white"></span></li>
                    <li onmouseover="lineover(3)" onmouseout="lineout(3)"><a href="#contact" class="nav-select text-white">Contact</a><span class="nav-line white"></span></li>
                </ul>
                {% else %}
                <ul>
                    <li onmouseover="lineover(0)" onmouseout="lineout(0)"><a href="{% url 'polls:index' %}" class="nav-select">Home</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(1)" onmouseout="lineout(1)"><a href="{% url 'polls:redSoon' %}" class="nav-select">About</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(1)" onmouseout="lineout(1)"><a href="{% url 'polls:yellowSoon' %}" class="nav-select">Project</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(2)" onmouseout="lineout(2)"><a href="{% url 'matakuliah:index' %}" class="nav-select">Course</a><span class="nav-line"></span></li>
                    <li onmouseover="lineover(3)" onmouseout="lineout(3)"><a href="#contact" class="nav-select">Contact</a><span class="nav-line"></span></li>
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="big-nav {% if color == 'red' %} red {% elif color == 'yellow'%} yellow {% endif %}" id="select">
            {% if color == 'red' or color == 'yellow' %}
            <div class="selection" onclick="tooglebtn1()" >
                <a href="{% url 'polls:index' %}" class="text-white">Home</a>
                <a href="{% url 'polls:redSoon' %}" class="text-white">About</a>
                <a href="{% url 'matakuliah:index' %}" class="text-white">Course</a> 
                <a href="{% url 'polls:yellowSoon' %}" class="text-white">Project</a>
                <a href="#contact" class="text-white">Contact</a>
            </div>
            {% else %}
            <div class="selection" onclick="tooglebtn1()" >
                <a href="{% url 'polls:index' %}">Home</a>
                <a href="{% url 'polls:redSoon' %}">About</a>
                <a href="{% url 'matakuliah:index' %}">Course</a> 
                <a href="{% url 'polls:yellowSoon' %}">Project</a>
                <a href="#contact">Contact</a>
            </div>
            {% endif %}
        </div>
        <!-- endsection -->
        {% block content %}

        {% endblock content %}
        <!-- section footer -->
        <section class="footer" id="contact">
            <div class="email"><span>Email -- <a href="https://mail.google.com/mail/?to=inbox@example.com&bcc=admin@example.com&subject=Hey#compose">m.hafizmaulana777@gmail.com</a></span></div>
            <div class="socmed">
                <a href="https://www.linkedin.com/in/muhammad-hafiz-maulana-990980157/"><img src="{% static 'main/img/linkedin.png' %}" alt=""></a>
                <a href="https://twitter.com/mhdhafizmm"><img src="{% static 'main/img/twitter.png' %}" alt=""></a>
                <a href="http://line.me/ti/p/muhammadhafizm"><img src="{% static 'main/img/line.png' %}" alt=""></a>
                <a href="https://api.whatsapp.com/send?phone=6282247558182"><img src="{% static 'main/img/whatsap.png' %}" alt=""></a>
                <a href="https://www.instagram.com/muhammadhafizm/"><img src="{% static 'main/img/instagram.png' %}" alt=""></a>
            </div>
        </section>
        <!-- endsection -->
</body>

{% block js %} 

{% endblock js %}
<script src="{% static 'main/styles/navbar.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>