{% extends 'layout.html' %}
{% load static %}

{% block tittle %} Home Page {% endblock tittle %}

{% block content %}
    <!-- background 1 -->
    <section class="background1">
        <span>MUHAMMADHAFIZMAULANA</span>
        <span>MUHAMMADHAFIZMAULANA</span>
        <span>MUHAMMADHAFIZMAULANA</span>
        <span>MUHAMMADHAFIZMAULANA</span>
        <span>MUHAMMADHAFIZMAULANA</span>
        <span>MUHAMMADHAFIZMAULANA</span>
        <span>MUHAMMADHAFIZMAULANA</span>
    </section>
    <!-- endsection -->
    <!-- section home -->
    <section class="home-greeting">
        <h1>MUHAMMAD HAFIZ MAULANA.</h1>
    </section>
    <!-- endsection -->
    <!-- section about-->
    <section class="about" id="about">
        <div class="gambar">
            <span>ABOUT.</span>
        </div>
        <div class="paragraph">
            <div class="background2">
                <span>HELLO.</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sequi perspiciatis officia adipisci debitis dolores nisi, non itaque voluptatum minus distinctio tempora. Sed dicta assumenda dolorum at corrupti quae. Dolore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi vitae doloribus, voluptatem voluptate tempore, cum necessitatibus inventore minima molestiae at itaque beatae cumque eius similique quaerat nesciunt dolorem praesentium quod.
            </p>
            <div class="background2">
                <span>HELLO.</span>
            </div>
        </div>
        <div class="link" onclick="location.href='{% url 'polls:redSoon' %}'">
            <span>MORE</span>
            <div class="arrow">
                <span></span>
                <span></span>
            </div>
        </div>
    </section>
    <!-- endsection -->
    <!-- section project -->
    <section class="project" id="project">
        <div class="header">PROJECT.</div>
        <div class="gallery">
            <div class="item" data-toggle="modal" data-target="#studioink">STUDIOINK</div>
            <div class="item" data-toggle="modal" data-target="#bismit">BISMIT FASILKOM</div>
            <div class="item" data-toggle="modal" data-target="#comingsoon">COMINGSOON</div>
            <div class="item" data-toggle="modal" data-target="#comingsoon">COMINGSOON</div>
            <div class="item" data-toggle="modal" data-target="#comingsoon">COMINGSOON</div>
            <div class="item" data-toggle="modal" data-target="#comingsoon">COMINGSOON</div>
        </div>
        <div class="link" onclick="location.href='{% url 'polls:yellowSoon' %}'">
            <span>MORE</span>
            <div class="arrow">
                <span></span>
                <span></span>
            </div>
        </div>
    </section>
    <!-- endsection -->
    <!-- Carosel Section -->
    <div class="pop-up">
        <div class="modal fade" id="studioink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Challange</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'main/img/Screenshots/Screenshot (7).png' %}" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'main/img/Screenshots/Screenshot (8).png' %}" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'main/img/Screenshots/Screenshot (9).png' %}" alt="Third slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="bismit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Challange</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div id="bismitcarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#bismitcarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#bismitcarousel" data-slide-to="1"></li>
                              <li data-target="#bismitcarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'main/img/Screenshots/Screenshot (2).png' %}" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'main/img/Screenshots/Screenshot (3).png' %}" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'main/img/Screenshots/Screenshot (4).png' %}" alt="Third slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#bismitcarousel" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#bismitcarousel" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="comingsoon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Challange</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div id="comingsooncarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#comingsooncarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#comingsooncarousel" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'main/img/Screenshots/Screenshot (5).png' %}" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'main/img/Screenshots/Screenshot (6).png' %}" alt="Second slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#comingsooncarousel" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#comingsooncarousel" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
{% endblock content %}