{% extends 'layout.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'main/styles/time.css' %}">
{% endblock css %}

{% block tittle %} Home Page {% endblock tittle %}

{% block content %} 
<div class="timeContainer">
    <span>{{time}}</span>
</div>
{% endblock content %}