{% extends 'layout.html' %}
{% load static %}

{% block tittle %} Comming Soon {% endblock tittle %}
{% block content %} 
    <!-- section home -->
    <section class="red-soon yellow">
        <h1 class="text-white home-tittle">Coming Soon</h1>
    </section>
    <!-- endsection -->
{% endblock content %}
