@import './navbar';
@import './footer';
@import './responsive';

*{
    box-sizing: unset !important;
}
html{
    scroll-behavior: smooth;
    &.active{
        overflow-y: hidden;
    }
}
body{
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    overflow-x: hidden;
    line-height: normal !important;
}

// template color
$red : #CC0066;
$yellow : #FFCC00;


.home-greeting{
    height: 75vh;
    width: 50%;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    @include responsive(tabPort){
        width: calc(100% - 2rem);
    }
    h1{
        z-index: 1;
        font-weight: 900;
        font-size: 5em;
        @include responsive(tabPort){
            font-size: 4.3em;
        }
        @include responsive(phone){
            font-size: 2.5em;
        }
    }
}
.background1{    
    position: absolute;
    transform: rotate(-27deg);
    top: 43vh;
    left: 24%;
    font-size: 7em;
    @include responsive(tabLan){
        top: 55vh;
        left: 0;
        transform: rotate(-30deg);
    }
    @include responsive(phone){
        font-size: 5em;
    }
    span{
        display: block;
        margin-top: -45px;
        font-weight: bold;
        &:nth-child(odd){
            color: $red;
        }
        &:nth-child(even){
            color: $yellow;
        }
    }
}
.about{
    width: 100%;
    background-color: $red;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 3rem 0 3rem 0;
    @include responsive(phone){
        padding-bottom: 0;
    }
    .gambar{
        margin: 0 0 5rem 2rem;
        width: 80%;
        height: 35vh;
        background: linear-gradient(0deg, rgba(166, 166, 168, 0.192), rgba(166, 166, 168, 0.288)), url('../img/photo2.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include responsive(tabPort){
            width: 100%;
            margin: 0 0 3rem 0;
        }
        @include responsive(phone){
            justify-content: center;
        }
        span{
            position: relative;
            transform: translateX(50%);
            font-size: 6em;
            font-weight: bold;
            @include responsive(tabPort){
                transform: translateX(-10%);
                color: white;
                font-size: 4.2em;
            }        
            @include responsive(phone){
                transform: translateX(0);
            }        
        }
    }
    .paragraph{
        margin: 0 2rem 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        padding: 2rem 2rem 2rem 2rem;
        width: calc(80% - 4rem);
        background-color: white;
        align-self: flex-end;
        @include responsive(tabPort){
            width: calc(100% - 4rem);
            margin: 0;
        }
        .background2{
            font-size: 6.8em;
            font-weight: 900;
            position: relative;
            &:nth-child(1){
                bottom: -20%;
                left: -10%;
            }
            &:nth-child(3){
                top:-165px;
                right: 30%;
                @include responsive(tabLan){
                    right: 40%;
                }
            }
            @include responsive(tabPort){
                display: none;
            }
            span{
                display: block;
                position: absolute;
                &:nth-child(1){
                    transform: translate(5px, -8px);
                    -webkit-text-fill-color: $yellow;
                }
            }
        }
        p{
            font-family: 'Roboto', sans-serif;
            @include responsive(phone){
                font-size: .9em;
            }
        }
    }
    .link{
        align-self: flex-end;
        margin-right: 2rem;
        font-size: 1.5em;
        font-weight: 900;
        margin-top: .5rem;
        cursor: pointer;
        @include responsive(phone){
            margin: .5rem 1rem 1rem 0;
            font-size: 1em;
        }
    }
}
.project{
    width: 100%;
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
    .header{
        font-size: 5em;
        font-weight: 900;
        @include responsive(tabPort){
            font-size: 3em;
        }
        @include responsive(phone){
            font-size: 2em;
        }
    }
    .gallery{
        .item{
            text-align: center;
            color: black;
            text-decoration: none;
            font-size: 7em;
            font-weight: 900;
            cursor: pointer;
            @include responsive(tabPort){
                font-size: 4em;
            }
            @include responsive(phone){
                font-size: 2.1em;
            }
        }
    }
    .link{
        position: absolute;
        right: 30px;
        bottom: 50px;
        font-size: 1.5em;
        font-weight: 900;
        margin-top: .5rem;
        cursor: pointer;
        @include responsive(phone){
            position: static;
            align-self: flex-end;
            margin: .5rem 1rem 1rem 0;
            font-size: 1em;
        }
    }
}

.red-soon{
    width: 100vw;
    height: 80vh;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-white{
    color: white !important;
}
.white{
    background-color: white !important;
}
.static{
    position: static !important;
}
.yellow{
    background-color: $yellow !important;
}
.red{
    background-color: $red !important;
}
.text-yellow{
    color: $yellow !important;
}
.text-red{
    color: $red !important;
}

.home-tittle{
    font-size: 7em !important;
    @include responsive(tabPort){
        font-size: 4em !important;
    }
    @include responsive(phone){
        font-size: 2.3em !important;
    }
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-dialog{
    @media (min-width: 576px) {
        max-width: 750px !important;
        margin: 0;
    }
}