@import './responsive';
.timeContainer{
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size: 6em;
    }
    @include responsive(phone){
        span{
            font-size: 1.8em;
        }
    }
}