
{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/styles/course.css' %}">
{% endblock css %}

{% block tittle %} Courses {% endblock tittle %}

{% block content %}
<div class="course-show">
    <div class="matakuliah">
        <div class="tittle"><span>{{matakuliah.namaMatkul}}</span></div>
        <span class="sks"> Jumlah SKS : {{matakuliah.jumlahSKS}}</span>
        <span> Nama Dosen : {{matakuliah.dosen}}</span>
        <span> <b>Waktu : {{matakuliah.waktu}}</b></span>
        <div class="paragraph">
            <p>{{matakuliah.deskripsiMatkul}}</p>
        </div>
    </div>
    <div class="tugas">
        <div class="tittle"><span>Tugas</span></div>
        {% for i in udahLewat %}
            <div class="card">
                <h5 class="card-header">{{ i.namaTugas }}</h5>
                <div class="card-body">
                <h5 class="card-title">{{i.tanggal}}</h5>
                <span class="badge badge-danger">Sudah Lewat Deadline</span>
                <p class="card-text">{{i.deskripsiTugas}}</p>
                </div>
            </div>
        {% endfor %}
        {% for i in besok %}
            <div class="card">
                <h5 class="card-header">{{ i.namaTugas }}</h5>
                <div class="card-body">
                <h5 class="card-title">{{i.tanggal}}</h5>
                <span class="badge badge-warning">Deadline Besok</span>
                <p class="card-text">{{i.deskripsiTugas}}</p>
                </div>
            </div>
        {% endfor %}
        {% for i in masihLama %}
            <div class="card">
                <h5 class="card-header">{{ i.namaTugas }}</h5>
                <div class="card-body">
                <h5 class="card-title">{{i.tanggal}}</h5>
                <span class="badge badge-info">Deadline {{i.tanggal}}</span>
                <p class="card-text">{{i.deskripsiTugas}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="scroll-up" onclick="location.href='{% url 'matakuliah:index' %}'">
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
{% endblock content %}